@{
    ViewData["Title"] = "Home";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-4">Task Manager</h1>
        <h2>E20251122</h2>
    </div>
</div>
